/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/

#include "sdm630-htc-common.dtsi"
#include "dsi-panel-iml.dtsi"
#include "sdm630-htc-iml-camera-sensor.dtsi"
#include "sdm636-htc-iml-touch.dtsi"
#include "charger-htc-iml.dtsi"
#include "sdm636-htc-iml-codec.dtsi"
#include "sdm630-htc-nfc.dtsi"
#include "sdm630-htc-sensors.dtsi"

&soc {
	int_codec: sound {
		qcom,msm-micbias1-ext-cap;
		qcom,msm-hs-micbias-type = "external";
		qcom,audio-routing =
		"RX_BIAS", "INT_MCLK0",
		"SPK_RX_BIAS", "INT_MCLK0",
		"INT_LDO_H", "INT_MCLK0",
		"RX_I2S_CLK", "INT_MCLK0",
		"TX_I2S_CLK", "INT_MCLK0",
		"MIC BIAS External", "Handset Mic",
		"MIC BIAS External2", "Headset Mic",
		"MIC BIAS External", "Secondary Mic",
		"AMIC1", "MIC BIAS External",
		"AMIC2", "MIC BIAS External2",
		"AMIC3", "MIC BIAS External",
		"DMIC1", "MIC BIAS External",
		"MIC BIAS External", "Digital Mic1",
		"DMIC2", "MIC BIAS External",
		"MIC BIAS External", "Digital Mic2",
		"DMIC3", "MIC BIAS External",
		"MIC BIAS External", "Digital Mic3",
		"DMIC4", "MIC BIAS External",
		"MIC BIAS External", "Digital Mic4",
		"SpkrLeft IN", "SPK1 OUT",
		"SpkrRight IN", "SPK2 OUT",
		"PDM_IN_RX1", "PDM_OUT_RX1",
		"PDM_IN_RX2", "PDM_OUT_RX2",
		"PDM_IN_RX3", "PDM_OUT_RX3",
		"ADC1_IN", "ADC1_OUT",
		"ADC2_IN", "ADC2_OUT",
		"ADC3_IN", "ADC3_OUT";
		
		qcom,wsa-max-devs = <2>;
		qcom,wsa-aux-dev-prefix = "SpkrLeft", "SpkrRight",
		"SpkrLeft", "SpkrRight";
	};
	
	qusb_phy0: qusb@c012000 {
		qcom,tune2-efuse-num-bits = <0x04>;
		qcom,qusb-phy-init-seq = <0xf8 0x80
		0xb3 0x84
		0x83 0x88
		0xc0 0x8c
		0x30 0x08
		0x79 0x0c
		0x21 0x10
		0x14 0x9c
		0x9f 0x1c
		0x00 0x18>;
	};
};

&tlmm {
	msm_gpio_20: msm_gpio_20 {
		mux{
			pins="gpio20";
			function= "gpio";
		};
		config {
			pins= "gpio20";
			drive-strength = <2>;
			bias-disable;
			output-low;
		
		};
	};

	msm_gpio_20_output_high: msm_gpio_20_output_high {
		mux {
			pins = "gpio20";
			function = "gpio";

		};
		config{
			pins = "gpio20";
			drive-strength = <2>;
			bias-disable;
			output-high;
		};
	
	};

	msm_gpio_72: msm_gpio_72{
		mux{
			pins = "gpio72";
			function = "gpio";
		};
		config{
			pins = "gpio72";
			drive-strength=<2>;
			bias-pull-down;
		};
	};

	pri_mi2s_sck {
		pri_mi2s_sck_sleep: pri_mi2s_sck_sleep {
			mux {
				pins = "gpio12";
				function = "gpio";
			};

			config {
				pins = "gpio12";
				drive-strength = <2>;   /* 2 mA */
				bias-pull-down;         /* PULL DOWN */
				input-enable;
			};
		};

		pri_mi2s_sck_active: pri_mi2s_sck_active {
			mux {
				pins = "gpio12";
				function = "pri_mi2s";
			};

			config {
				pins = "gpio12";
				drive-strength = <8>;   /* 8 mA */
				bias-disable;           /* NO PULL */
				output-high;
			};
		};
	};

	pri_mi2s_ws {
		pri_mi2s_ws_sleep: pri_mi2s_ws_sleep {
			mux {
				pins = "gpio13";
				function = "gpio";
			};

			config {
				pins = "gpio13";
				drive-strength = <2>;   /* 2 mA */
				bias-pull-down;         /* PULL DOWN */
				input-enable;
			};
		};

		pri_mi2s_ws_active: pri_mi2s_ws_active {
			mux {
				pins = "gpio13";
				function = "pri_mi2s_ws";
			};

			config {
				pins = "gpio13";
				drive-strength = <8>;   /* 8 mA */
				bias-disable;           /* NO PULL */
				output-high;
			};
		};
	};

	pri_mi2s_sd0 {
		pri_mi2s_sd0_sleep: pri_mi2s_sd0_sleep {
			mux {
				pins = "gpio14";
				function = "gpio";
			};

			config {
				pins = "gpio14";
				drive-strength = <2>;   /* 2 mA */
				bias-pull-down;         /* PULL DOWN */
				input-enable;
			};
		};

		pri_mi2s_sd0_active: pri_mi2s_sd0_active {
			mux {
				pins = "gpio14";
				function = "pri_mi2s";
			};

			config {
				pins = "gpio14";
				drive-strength = <8>;   /* 8 mA */
				bias-disable;           /* NO PULL */
			};
		};
	};

	pri_mi2s_sd1 {
		pri_mi2s_sd1_sleep: pri_mi2s_sd1_sleep {
			mux {
				pins = "gpio15";
				function = "gpio";
			};

			config {
				pins = "gpio15";
				drive-strength = <2>;   /* 2 mA */
				bias-pull-down;         /* PULL DOWN */
				input-enable;
			};
		};

		pri_mi2s_sd1_active: pri_mi2s_sd1_active {
			mux {
				pins = "gpio15";
				function = "pri_mi2s";
			};

			config {
				pins = "gpio15";
				drive-strength = <8>;   /* 8 mA */
				bias-disable;           /* NO PULL */
			};
		};
	};

	hall_int_pin: hall_int_pin {
		hall_int_active: hall_int_active {
			mux {
				pins = "gpio75";
				function = "gpio";
			};

			config {
				pins = "gpio75";
				drive-strength = <0x6>;
				bias-pull-up;
			};
		};

		hall_int_suspend: hall_int_suspend {
			mux {
				pins = "gpio75";
				function = "gpio";
			};

			config {
				pins = "gpio75";
				drive-strength = <0x6>;
				bias-pull-up;
			};
		};
	};

	i2c_1 {
		/delete-node/ i2c_1_bitbang;
	};

	i2c_2 {
		/delete-node/ i2c_2_bitbang;
	};

	i2c_3 {
		/delete-node/ i2c_3_bitbang;
	};

	i2c_4 {
		/delete-node/ i2c_4_bitbang;
	};

	i2c_5 {
		/delete-node/ i2c_5_bitbang;
	};

	i2c_6 {
		/delete-node/ i2c_6_bitbang;
	};

	i2c_7 {
		/delete-node/ i2c_7_bitbang;
	};

	i2c_8 {
		/delete-node/ i2c_8_bitbang;
	};
};

&i2c_1 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_2 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_3 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_4 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_5 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_6 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_7 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&i2c_8 {
	/delete-property/ pinctrl-2;
	pinctrl-names = "i2c_active", "i2c_sleep";
};

&hostless {
	audio_test_mod {
		compatible = "qcom,audio-test-mod";
	};
};

&spmi_bus {
	qcom,pm660@1 {
		pm660_haptics: qcom,haptic@c000 {
			qcom,actuator-type = "erm";
			qcom,vmax-mv = <3000>;
		};
	};
};

&sdhc_2 {
	cd-gpios = <&tlmm 54 0x0>;
};

&pm660_vadc {
	chan@51 { /* quiet_therm */
		qcom,scale-function = <2>;
	};
	
	chan@4e { /* emmc_therm */
		qcom,scale-function = <2>;
	};
	
	chan@4f { /* pa_therm0 */
		qcom,scale-function = <2>;
	};
	
	chan@4d { /* msm_therm */
		qcom,scale-function = <2>;
	};
	
	chan@4c { /* xo_therm */
		qcom,scale-function = <4>;
	};
};
